{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veil - Main Menu</title>
    <link rel="stylesheet" href="{% static 'css/main_menu.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/veil_favicon.png' %}">
</head>
<body>
    <div class="logo">
        <img src="{% static 'images/veil_logo.png' %}" alt="Veil Logo">
    </div>
    <h1>You are ready to create the UI for the main_menu.html</h1>
</body>
</html>